* {
  padding: 0;
  margin: 0;
} 

#logo{
    width: 200px;
}

#header {
    background: #D1F3E7;
}

#carrito{
    width:35px;
    margin-right: 25px;
    cursor: pointer;
}

#boton {
    background: #007EA7;
}

#fecha{
  padding-left: 35px;
}

col-md-6 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}